/* Looper styles */
@keyframes slideAnim {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideAnimMobile {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  height: 100vh;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;
}

.looper__listInstance {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  width: 161px;
  animation: none;
  padding-bottom: 17px;
}

@media ((width>= 360px) and (width < 1024px)) {
  /* Looper styles */
  @keyframes slideAnimMobile {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .looper {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .looper__innerList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
  }

  .looper__innerList[data-animate="true"] .looper__listInstance {
    animation: slideAnimMobile linear infinite;
  }

  .looper__listInstance {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 17px;
    padding-right: 17px;
    animation: none;
  }
}
