/* Looper styles */
@keyframes slideAnim {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

.looper {
  height: 100vh;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;
}

.looper__listInstance {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  width: 161px;
  animation: none;
  padding-bottom: 17px;
}
